body {
	margin:0;
	padding:0;
}

.content {
	padding: 100px;
	width:400px;
	margin:0 auto; 
}

#logo {
	background: url("googlelogo.png") no-repeat scroll 0% 0% / 269px 95px transparent;
	height:95px; width:269px;
	margin:auto;
}

#search {
	padding:30px;
}

.input {
	outline: none !important;
	margin-left:-30px;
	width:450px;
	height:23px;
	border:1px solid silver;

}

.input:focus {

	border:1px solid #0095dd;
	z-index: 100;
}

.input:hover {
	border-color: #A0A0A0 #B9B9B9 #B9B9B9 !important;
}



#header {
	height:100px;
}



